@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #329765;
}

.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(at 0% 0%, #1a717e 0px, transparent 60%),
    radial-gradient(at 0% 100%, #187954 0px, transparent 60%),
    radial-gradient(at 100% 0%, #1c7576 0px, transparent 60%),
    radial-gradient(at 100% 100%, #249b60 0px, transparent 60%), #5a6e76;
    background-size: 150% 150%;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    animation: moveGradient 12s infinite alternate ease-in-out;
    
}

@keyframes moveGradient {
            0% { background-position: 0% 0%; filter: saturate(1.4); }
            50% { background-position: 100% 100%; filter: saturate(1.7); }
            100% { background-position: 50% 0%; filter: saturate(1.4); }
 }

 .heading{
    font-size: 160px;
    font-family: "JetBrains";
    font-weight: 700;
    text-align: center;
    width: 70vw;
    color: #bffdff;
 }