@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


*{
    margin: 0;
    padding: 0;
}
.home_container{
    background-color: #2a755a;
}
.hero{
    height: 105vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(at 0% 0%, #417b4e 0px, transparent 60%),
    radial-gradient(at 0% 100%, #187979 0px, transparent 80%),
    radial-gradient(at 100% 0%, #aa891ed2 0px, transparent 60%),
    radial-gradient(at 100% 100%, #249b60 0px, transparent 80%), #b34444;
    background-size: 150% 150%;
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    animation: moveGradient 12s infinite alternate ease-in-out;
    
}

@keyframes moveGradient {
            0% { background-position: 0% 0%; filter: saturate(1.4); }
            50% { background-position: 100% 100%; filter: saturate(1.7); }
            100% { background-position: 50% 0%; filter: saturate(1.4); }
 }

 .heading{
    font-size: 120px;
    position: relative;
    top: -80px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    text-align: center;
    width: 60vw;
    color: #bffdff;
 }
.float_icon{
    position: absolute;
    width: 1em;
    height: 1em;
    font-size: 50px;
    color: #bffdff;
}
.float_icon svg{
    fill: #bffdff;
    overflow: visible;
    width: 100%;
    height: 100%;
}
.Ic_left{
    top:120px;
    left: 200px;
}
.Ic_right{
    bottom: 270px;
    right: 185px;
}

.navbar{
    position: fixed;
    width: 100%;
    width: fit-content;
    z-index: 10;
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #2d2d2d74;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.263);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: row;
    padding: 7px 5px;
    border-radius: 40px;
}
.nav_items{
    /* backdrop-filter: blur(8px); */
    font-family: monospace;
    font-weight: 700;
    font-size: 15px;
    color: #f0fcff;
    padding: 12px 30px;
    border-radius: 40px;
    margin: 0px 5px;
}
.nav_items.active{
    background-color: rgba(255, 255, 255, 0.196);

}

.Bento_grid{
    height: max-content;
    margin-bottom: 100px;
    background: #2a755a  ;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.grid1{
    position: relative;
    justify-content: center;
    top: -80px;
    display: flex;
    width: 100%;
}
.grid2{
    justify-content: center;
    display: flex;
    width: 100%;
}
.grid_item1{
    width: 720px;
    position: relative;
    height: 500px;
    display: flex;
    background-color: #cbe4b2;
    overflow: hidden;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}
.Recent_project_Image{
    position: absolute;
    width: 700px;
    bottom: -40px;
    right: -10px;
}
.card_text{
    position: absolute;
    z-index: 10;
    font-family: "IBM Plex Mono" ;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 20px;
    color: #2a2a2a;
    text-transform: uppercase;
    font-weight: 900;
}
.card_brief{
    position: absolute;
    font-family: "Playfair Display" ;
    margin-left: 40px;
    margin-top: 35px;
    font-size: 30px;
    color: #0f4139;
    text-transform: uppercase;
    font-weight: 900;
}
.Disclaimer{
    position: absolute;  
    font-family: sans-serif;
    bottom: 10px;
    right: 20px;
    z-index: 5;
    font-weight: 500;
    background-color: #2a2a2a81;
    color: #f0fcff94;
    padding: 5px;
    border-radius: 8px;
}
.grid_item2{
    width: 550px;
    position: relative;
    height: 500px;
    margin-left: 50px;
    overflow: hidden;
    background-color: #a9cc6c;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.IOT_Image{
    position: absolute;
    bottom: -410px;
    width: 450px;
    left: 50px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 30px 30px 0px 0px;
}

.grid_item3{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 250px;
    overflow: hidden;
    height: 320px;
    /* margin-left: 50px; */
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    background-color: #ff9dde;
    border-radius: 40px;
}
.grid_container{
    display: flex;
    overflow: hidden;
    position: relative;
    top: 60px;
    border-radius: 30px;
    background-color: #daeff4;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
    border: 5px solid #5f5f5f;
    width: 210px;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.proficiency{
    display: flex;
    position: absolute;
    background-color: #2a2a2a;
    color: #f6f6f6;
    font-size: 15px;
    font-weight: 900;
    font-family: "IBM Plex Mono";
    top: 0px;
    padding:15px 0px 15px;
    width: 100%;
    justify-content: center;
}
.language{
width: 140px;
padding: 5px;
margin: 5px 10px;
background-color: #52afaf5d;
border-radius: 0px 8px 8px 8px;
}
.grid_item3 svg{
    width: 30px;
    padding-left:10px;
    fill: #2f4542;
}
.grid_icons{
    display: flex;
    flex-direction: column;
    width: 40px;
}
.grid_text{
    font-size: 20px;
    font-weight: 600;
    font-family: "IBM Plex Mono";
}
.icons{
    padding: 5px;
}

.Core{
    position: relative;
    z-index: 10;
    font-family: "IBM Plex Mono" ;
    top: 30px;
    left: 10px;
    font-size: 20px;
    color: #2a2a2a;
    text-transform: uppercase;
    font-weight: 900;
}

.grid_item4{
    width: 250px;
    height: 320px;
    margin-left: 40px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    background-color: #a195c6;
    border-radius: 40px;
}
.grid_item5{
    width: 750px;
    height: 320px;
    margin-left: 40px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    background-color: #98dcba;
    border-radius: 40px;
}
.contacts{
    position: relative;
    height: 50vh;
    width: 100%;
    border-radius: 70px 70px 0px 0px;
    background-color:#b8f7ff;
}
